/* color, background color, typography properties, etc */

#first {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #184023;
    font-size: 120px;

}

.recipes {
    
    text-align: center;
    color: #EEEEEE;
    margin: 50px;
    

  }
  h2{
    margin-bottom: 10px;
    background-color: #659471;
    padding: 50px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #184023;
    font-size: 50px;
    text-align: center;
}

.lists {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

a:visited, .subtitulo {
    color: #184023;
}

.desc{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin: 10px;

}

img {
    height: auto;
    width: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.subtitulo {
    background-color: #78cf8f;
    color: black;
    margin: 10px;
    padding: 10px;
}
